<style>
ul.nav {
  list-style-type: none;
  display: flex;
}
li.nav{
 margin: 5px;
}
</style>

<h2>
  <ul class="nav">
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"> </li>
    <li class="nav"><a href="/projects">Personal Projects</a></li>
    <li class="nav"> </li>
    <li class="nav"><a href="/talks">Talks</a></li>
    <li class="nav"> </li>
    <li class="nav"><a href="/resume">Resume</a></li>
    <li class="nav"> </li>
    <li class="nav"><a href="/about">About</a></li>
  </ul>
</h2>
